/* Reset dei margini e dei padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Stile per il corpo del documento */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f8f8;
    margin: 0;
  }
  
  /* Stile per l'header */
  header {
    background-color: rgba(51, 51, 51, 0.9);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  header nav ul li {
    margin: 0 15px;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
  }
  
  header nav ul li img {
    width: 18px;
    height: auto;
    margin-right: 3px;
  }
  /* Stile per la sezione hero */

  .hero-section {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 100px 0;
  margin-top: 65px;
}

.hero-section h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.hero-description {
  font-size: 1.2em;
  opacity: 0.95;
}

.about-section {
  padding: 50px 0;
  text-align: center;
  background-color: #f8f8f8;
}

.about-section h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
}

.about-section p {
  font-size: 1.1em;
}

.about-section img {
  max-width: 100%;
}

.contact-section {
  padding: 50px 0;
  text-align: center;
  color: black;
}

.contact-section button {
  font-size: 18px;
  block-size: 60px;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.contact-section button:hover {
  background-color: green;
  transform: scale(0.95); 
}

#contactForm {
  display: none;
  margin-top: 20px;
  display: flex; 
  flex-direction: column;
  align-items: center; 
}

#contactForm form {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

#contactForm label {
  display: block;
  margin-bottom: 5px;
}

#contactForm input,
#contactForm textarea {
  width: 50%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#contactForm button[type="submit"] {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px; 
}

#contactForm button[type="submit"]:hover {
  background-color: green;
}


footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

a {
  color: #02264D;
  
}

/* Stile per schermi mobile */
@media (max-width: 400px) {
  header nav ul {
    padding: 16px 0;
    font-size: 12px;
    text-align: center;
    margin-left: 0;
  }

  header nav ul li {
    width: 100%;
    margin: 5px 0;
  }

  header nav ul li a {
    padding: 5px 0;
  }

  header nav ul li a img {
    max-width: 30px;
    height: auto;
  }

  .hero-section {
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 50px 0;
  }

  .hero-section h1 {
    font-size: 1.5em;
  }

  .hero-description {
    font-size: 0.8em;
  }
 
  .hero-section {
    background-position: 0px;
  }
  
  .about-section {
    padding: 10px 0;
    text-align: center;
    background-color: #f8f8f8;
  }

  .about-section img {
    max-width: 100%;
  }

  .about-section p {
    font-size: 0.99em;
  }

  .content {
    padding: 15px;
  }

  .about-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }

   .contact-section {
    padding: 20px 0;
  }

  .contact-section button {
    font-size: 14px;
    block-size: 40px;
    width: auto;
    padding: 6px 12px;
  }
}

/* Stile per schermi tablet */
@media (min-width: 520px) and (max-width: 757px) {
  header nav ul {
    padding: 16px 0;
    font-size: 12px;
    text-align: center;
    margin-left: 0;
  }

  header nav ul li {
    width: 100%;
    margin: 5px 0;
  }

  header nav ul li a {
    padding: 5px 0;
  }

  header nav ul li a img {
    max-width: 30px;
    height: auto;
  }

  .hero-section {
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 50px 0;
  }

  .hero-section h1 {
    font-size: 2em;
  }

  .hero-description {
    font-size: 1em;
  }

  .about-section {
    padding: 10px 0;
    text-align: center;
    background-color: #f8f8f8;
  }

  .about-section img {
    max-width: 100%;
  }

  .about-section p {
    font-size: 1.1em;
  }

  .content {
    padding: 15px;
  }

  .about-section h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
  }

   .contact-section {
    padding: 20px 0;
  }

  .contact-section button {
    font-size: 16px;
    block-size: 45px;
    width: auto;
    padding: 6px 12px;
  }
}
/* Stile per schermi tablet e superiori */
@media (min-width: 757px) and (max-width: 900px) {
  header nav ul {
    padding: 20px 0;
    font-size: 16px;
    text-align: center;
  }
  .hero-section {
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 120px 0;
  }
  
  .hero-section h1 {
    font-size: 2.5em;
  }

  .hero-description {
    font-size: 1.2em;
  }
  
  .hero-section {
    background-position: 0px;
  }
  .about-section {
    padding: 10px 0;
    text-align: center;
    background-color: #f8f8f8;
  }

  .about-section img {
    max-width: 100%;
  }

  .about-section p {
    font-size: 1.2em;
  }

  .content {
    padding: 15px;
  }

  .about-section h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }

   .contact-section {
    padding: 20px 0;
  }

  .contact-section button {
    font-size: 18px;
    block-size: 48px;
    width: auto;
    padding: 6px 12px;
  }
}
